[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "galigor"]
	path = galigor
	url = https://github.com/cran/galigor
[submodule "getProxy"]
	path = getProxy
	url = https://github.com/selesnow/getproxy
[submodule "racademyocean"]
	path = racademyocean
	url = https://github.com/selesnow/racademyocean
[submodule "ractivecampaign"]
	path = ractivecampaign
	url = https://github.com/selesnow/ractivecampaign
[submodule "rappleads"]
	path = rappleads
	url = https://github.com/selesnow/rappleads
[submodule "rappsflyer"]
	path = rappsflyer
	url = https://github.com/selesnow/rappsflyer
[submodule "rfacebookstat"]
	path = rfacebookstat
	url = https://github.com/selesnow/rfacebookstat
[submodule "rgoogleads"]
	path = rgoogleads
	url = https://github.com/selesnow/rgoogleads
[submodule "ringostat"]
	path = ringostat
	url = https://github.com/selesnow/ringostat
[submodule "rlinkedinads"]
	path = rlinkedinads
	url = https://github.com/selesnow/rlinkedinads
[submodule "rmytarget"]
	path = rmytarget
	url = https://github.com/selesnow/rmytarget
[submodule "rtgstat"]
	path = rtgstat
	url = https://github.com/selesnow/rtgstat
[submodule "rvkstat"]
	path = rvkstat
	url = https://github.com/selesnow/rvkstat
[submodule "ryandexdirect"]
	path = ryandexdirect
	url = https://github.com/selesnow/ryandexdirect
[submodule "rym"]
	path = rym
	url = https://github.com/selesnow/rym
[submodule "rytstat"]
	path = rytstat
	url = https://github.com/selesnow/rytstat
[submodule "timeperiodsR"]
	path = timeperiodsR
	url = https://github.com/selesnow/timeperiodsr
